/* colors ------------------------------------------------------------------- */
html {
  --bg: #fff;
  --bg2: #fefbec;
  --text: #3c3836;
  --text2: #7c6f64;
  --accent: #3c3836;
  --accent2: #427b58;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d6a;
  --gray: #a89984;
  --orange: #fe8019;
  --darkmode-icon: "\f186";
  --darkmode-icon-padding: 3px;
  --filter: none;
  --fdfilter: none;
  scroll-behavior: smooth;
}

[data-theme="dark"] {
  --bg: #121212;
  --bg2: #282828;
  --text: #bdae93;
  --text2: #a89984;
  --accent: #fabd2f;
  --accent2: #d79921;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #a89984;
  --orange: #fe8019;
  --darkmode-icon: "\f0eb";
  --darkmode-icon-padding: 4px;
  --filter: invert(80%) sepia(50%);
  --fdfilter: brightness(95%) saturate(0%);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--bg);
  background: var(--accent2);
}

::selection {
  color: var(--bg);
  background: var(--accent2);
}

/* animations --------------------------------------------------------------- */
@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0px, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* main content ------------------------------------------------------------- */
body {
  font-family: Reforma2018;
  font-feature-settings: 'ss03', 'ss04', 'ss05', 'clig', 'dlig';
  font-weight: 300;
  padding-top: 80px !important;
  background: var(--bg) !important;
  color: var(--text) !important;
  transition: 0.3s;
}

.main-container {
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 50px;
  min-height: 77vh;
}

:target:after {
  content: "" !important;
  display: inline-block !important;
  padding-top: 100px !important;
  margin-top: -100px !important;
}

img {
  border-radius: 7px !important;
  filter: var(--filter);
}

.no-filter {
  filter: none !important;
}

div.figure {
  display: table;
}

div.figure p {
  display: table-caption;
  caption-side: top;
}

p {
  font-size: 18px;
  line-height: 150% !important;
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
  text-align: left;
  opacity: 0;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

p.animate {
  animation: fadeIn 1s 1s normal both;
}

.toc-content p {
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.start-page-body p {
  -moz-hyphens: none !important;
  -o-hyphens: none !important;
  -webkit-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}

.first {
  color: var(--text2);
  font-family: Reforma2018;
  font-weight: 900;
  font-feature-settings: 'ss09', 'clig', 'dlig';
  font-size: 55px;
  padding-top: 95px;
  padding-right: 3px;
  line-height: .4;
  float: left;
  margin: -80px 1px 0px 2px !important;
}

h1, h2, h3, h4 {
  white-space: nowrap;
}

h2, h3, h4 {
  line-height: 1.3em;
}

h1 {
  font-family: Garbata;
  line-height: 130%;
  text-transform: uppercase;
  font-size: 37pt;
  overflow: hidden;
  color: var(--accent);
  opacity: 0;
}

h1.animate {
  animation: typewriter 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1 normal both;
  opacity: 1 !important;
}

.section h1 {
  font-family: Garbata;
  text-transform: none;
  margin-top: 70px !important;
  padding-top: 3px !important;
  margin-bottom: 40px !important;
  border-top: 2px solid var(--accent2);
}

.start-page-body h1 {
  animation: typewriter 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s 1 normal both;
  text-transform: uppercase;
  border: none !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

h2 {
  font-size: 15pt;
  font-family: Garbata;
  line-height: 2em;
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: -15px;
  overflow: hidden;
  opacity: 0;
}

h2.animate {
  animation: fadeIn 1s 1s normal both;
}

.section h2 {
  color: var(--text);
  font-size: 20pt;
  margin-left: -7px;
  padding-top: 0px !important;
  margin-top: 25px !important;
  margin-bottom: 0px !important;
  opacity: 0;
}

.section h2.animate {
  opacity: 1 !important;
  animation: typewriter 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s 1 normal both;
}

h2 a {
  text-decoration: none !important;
}

.section h3 {
  font-family: Reforma2018;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  overflow: hidden;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.section h3.animate {
  animation: fadeIn 1s 1s normal both;
}

.subtitle {
  font-family: Garbata;
  color: var(--text2);
  margin-top: -10px !important;
  margin-bottom: 20px !important;
  opacity: 0;
}

.subtitle.animate {
  animation: fadeIn 1s 1s normal both;
}

h4 {
  overflow: hidden;
  line-height: 1;
  margin: 0;
  opacity: 0;
}

h4.animate {
  opacity: 1 !important;
  animation: typewriter 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s 1 normal both;
}

.author {
  font-style: italic;
  font-weight: 300;
}

.date {
  font-style: italic;
  font-weight: 300;
  line-height: 1.5 !important;
  margin-bottom: 30px;
}

.MathJax {
  font-size: 95% !important;
}

.section a, .footnotes a, .toc-content a {
  color: var(--text) !important;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: var(--accent2);
  transition: 0.3s;
}

.section a:hover, .footnotes a:hover, .toc-content a:hover {
  color: var(--text) !important;
  text-decoration-style: wavy !important;
  text-decoration-color: var(--accent2);
}

ol {
  padding-left: 15px;
}

.footnote-back {
  text-decoration: none !important;
  padding-left: 5px;
}

.footnotes ol {}

.footnotes ol:before {
  display: block;
  content: "Footnotes";
  font-family: Garbata !important;
  text-transform: none;
  padding-top: 3px !important;
  padding-bottom: 40px !important;
  margin-left: -15px !important;
  line-height: 130%;
  font-size: 37pt;
  overflow: hidden;
  color: var(--accent);
  animation: typewriter 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s 1 normal both;
}

.section li {
  font-size: 18px;
  line-height: 150% !important;
  padding-bottom: 0px !important;
  list-style-type: disc;
  opacity: 0;
}

.section li.animate {
  animation: fadeIn 1s 1s normal both;
}

.section ul {
  list-style: none;
  margin: 10px !important;
  padding-left: 0px !important;
  padding-top: 10px !important;
  list-style-position: inside;
  opacity: 0;
}

.section ul.animate {
  animation: fadeIn 1s 1s normal both;
}

hr {
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 0px;
  border-top: 2px solid var(--accent2) !important;
  opacity: 0;
}

hr.animate {
  animation: typewriter 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s 1 normal both;
  opacity: 1 !important;
}

blockquote {
  padding-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
  border-color: var(--accent2) !important;
  opacity: 0;
}

blockquote ul {
  text-align: right !important;
  font-style: normal;
  font-size: 13px;
  list-style-type: none;
  padding-top: 20px;
}

blockquote ul>li:before {
  content: "–";
  /* en dash */
  position: absolute;
  margin-left: -1.1em;
}

blockquote.animate {
  animation: fadeIn 1s 1s normal both;
}

.figure {
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
}

.figure.animate {
  animation: fadeIn 1s 1s normal both;
}

.figure .caption {
  color: var(--text);
  font-style: italic;
  transition: 0.3s;
}

.table {
  min-width: 100% !important;
  opacity: 0;
}

.table.animate {
  animation: fadeIn 1s 1s normal both;
}

caption {
  color: var(--text);
  font-size: 18px !important;
  font-style: italic;
  margin-bottom: 0px !important;
  transition: 0.3s;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  color: var(--bg);
  background-color: var(--accent2) !important;
}

td {
  border-top: none !important;
  border-bottom: none !important;
  padding: 10px !important;
}

th {
  border-top: none !important;
  border-bottom: 2px solid var(--accent) !important;
  padding: 10px !important;
}

.btn {
  font-weight: bold !important;
  font-size: 12pt !important;
  color: var(--text) !important;
  background-color: var(--bg);
  text-decoration: underline !important;
  text-underline-position: under !important;
  text-decoration-color: var(--accent2);
  border: none !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  transition: 0.3s !important;
}

.btn:hover {
  text-decoration-style: wavy !important;
  text-decoration-color: var(--accent2);
  background-color: var(--bg);
}

.dropdown-menu a {
  color: var(--text) !important;
  background: var(--bg) !important;
}

pre {
  background: var(--bg) !important;
  border: none !important;
  border-radius: 10px;
  padding: 10px 10px 10px 0px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  transition: 0.3s;
}

code {
  font-family: iA Writer Mono;
  font-weight: normal;
  color: var(--text);
  background: var(--bg);
  font-size: 15px;
  line-height: 150%;
  transition: 0.3s;
  padding: 0;
  white-space: pre-wrap;
  -moz-hyphens: none;
  -o-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre code {
  font-family: iA Writer Mono;
  font-weight: normal;
  color: var(--text);
  background: var(--bg);
  font-size: 15px;
  line-height: 150%;
  transition: 0.3s;
  padding: 0;
  white-space: pre;
  word-wrap: normal;
  -moz-hyphens: none;
  -o-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.sourceCode {
  overflow-x: scroll;
  opacity: 0;
}

.sourceCode.animate {
  animation: fadeIn 1s 1s normal both;
}

code span.co {
  color: var(--gray);
}

code span.ot {
  color: var(--yellow);
}

code span.sc {
  color: var(--yellow);
}

code span.cn {
  color: var(--purple);
}

code span.fu {
  color: var(--blue);
}

code span.at {
  color: var(--green);
}

code span.st {
  color: var(--aqua)
}

code span.dv {
  color: var(--red);
}

a.footnote-ref {
  text-decoration: none !important;
}

.references {
  font-size: 18px;
  line-height: 1.7em !important;
  margin-left: 2.5em !important;
  text-indent: -2.5em !important;
  word-wrap: break-word;
}

/* publications page -------------------------------------------------------- */
#pubs .citation {
  text-align: left;
  font-size: 18px;
  line-height: 150% !important;
  margin-left: 2.5em !important;
  text-indent: -2.5em !important;
  margin-top: 20px;
  display: block !important;
  word-wrap: break-word;
}

.citation a {
  transition: 0.3s !important;
}

.paper-info a {
  font-family: iA Writer Mono;
  color: var(--text2) !important;
  text-decoration: none;
  font-size: 12px !important;
  padding: 3px 7px 3px 7px !important;
  background: var(--bg);
  border: 0.5px solid var(--text2);
  border-radius: 5px;
}

.paper-info a:hover {
  color: var(--bg) !important;
  background: var(--text2);
  transition: 0.3s;
}

.paper-info p {
  font-family: iA Writer Mono;
  color: var(--text2) !important;
  display: inline-block;
  font-size: 12px !important;
  padding-right: 2px;
}

.paper-info {
  margin-top: 20px;
  margin-left: 3.2em;
}

.csl-entry {
  padding-top: 80px;
  margin-top: -80px;
}

/* start page --------------------------------------------------------------- */
.fd {
  position: relative;
  min-width: 250px;
  max-width: 45vh;
  height: 50vh;
  max-height: 470px;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: transparent;
  background-image: url('../fd.jpg');
  background-repeat: no-repeat;
  background-size: auto 150%;
  background-position-x: 65%;
  background-position-y: 20%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 0;
  transition: 0.3s;
}

.fd.animate {
  opacity: 1 !important;
  animation: fadeInUp 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1 normal both;
}

.find-me {
  width: 100%;
  position: absolute;
  bottom: -60px;
  left: -5px;
  z-index: 1 !important;
}

.find-me p {
  text-align: center !important;
  opacity: 1;
  animation: none !important;
}

.find-me a {
  font-size: 15pt;
  color: var(--text) !important;
  padding: 0 10px;
}

.find-me a:hover {
  color: var(--accent2) !important;
  background: none !important;
}

/* top asset ---------------------------------------------------------------- */
.top-asset {
  background-image: var(--top-asset);
  background-size: auto 100%;
  background-repeat-x: repeat;
  height: 105px;
  margin-top: 20px;
  margin-bottom: -20px;
  filter: none !important;
  opacity: 0;
}

.top-asset.animate {
  opacity: 1 !important;
  animation: typewriter 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1 normal both;
}

/* TOC ---------------------------------------------------------------------- */
#TOC {
  padding-top: 45px;
  animation: fadeIn 1s 1.3s normal both;
}

.content {
  opacity: 1;
  animation: none !important;
  position: fixed;
  color: var(--accent);
  animation: fadeIn 1s 1.3s normal both !important;
}

.tocify-header {
  text-indent: 0 !important;
}

.toc-content {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.tocify {
  border: none;
}

div.tocify {
  max-width: 300px !important;
  max-height: none !important;
}

.tocify ul, .tocify li {
  background: var(--bg) !important;
  transition: 0.3s;
}

.list-group-item {
  font-family: Garbata;
  color: var(--text2) !important;
  font-size: 12pt !important;
  font-weight: 100;
  line-height: 1 !important;
  width: 70%;
  padding-bottom: 10px !important;
}

.list-group-item.active {
  color: var(--text) !important;
  font-weight: 500;
}

.list-group-item:hover, .list-group-item.active:hover {
  color: var(--accent) !important;
}

.tocify-subheader[data-tag="3"] {
  font-size: 13px !important;
  font-weight: lighter !important;
  font-style: italic;
}

.tocify-extend-page {
  display: none !important;
}

/* navbar ------------------------------------------------------------------- */
.navbar {
  border: none !important;
  background: var(--bg);
  transition: 0.3s;
}

.navbar li.dropdown-header {
  font-size: 9pt;
  color: var(--text) !important;
  margin-top: 22px;
  margin-left: -25px;
}

.navbar a {
  font-size: 14px;
  border: none !important;
  text-decoration: none !important;
}

.navbar a:hover {
  color: var(--accent2) !important;
  background: transparent;
}

.navbar-nav {
  text-transform: uppercase;
  font-family: Garbata;
  font-weight: 300;
}

.navbar-nav a {
  color: var(--text) !important;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:hover {
  color: var(--accent2) !important;
  background: transparent;
  font-weight: normal;
}

.navbar-brand {
  text-decoration: none !important;
  text-transform: none !important;
  font-family: Garbata;
  font-weight: 150 !important;
  background: none !important;
  font-size: 25pt !important;
  padding-top: 13px;
}

.navbar-header a {
  color: var(--text) !important;
}

.navbar-brand a:hover {
  text-decoration: none !important;
}

.navbar-toggle {
  border: none;
   !important;
  padding-top: 0px;
}

.navbar-inverse {
  font-family: Garbata;
  font-size: 11pt;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 300;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background: none !important;
}

.icon-bar {
  width: 40px !important;
  background-color: var(--text2) !important;
}

.navbar-right {
  margin-right: -15px !important;
}

/* custom sidebar ----------------------------------------------------------- */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 43px;
  height: 16px;
  margin-right: 17px;
  background: var(--text2);
  float: right !important;
  border-radius: 100px;
  position: relative;
}

label::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  /* \f042 */
  font-size: 10px;
  padding-right: 2px;
  color: var(--text2);
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: var(--bg);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+label {
  background-color: var(--text2);
}

input:checked+label::after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

label:active:after {
  width: 25px;
}

.dm-label {
  color: var(--text2);
  font-size: 7pt;
  position: absolute;
  right: 20px;
}

.custom-control {
  position: absolute;
  top: 10px;
  padding-bottom: 20px;
  right: 0;
  border-bottom: 1.5px solid var(--text2);
  width: 100%;
}

.dm-label span {
  color: var(--text2);
  font-weight: 500;
  position: absolute;
  right: 1px;
  font-size: 7pt !important;
  -moz-hyphens: none;
  -o-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.dm-label a {
  color: var(--text2);
}

.dm-bg {
  position: fixed;
  background: var(--bg);
  right: -12px;
  padding-top: 33px;
  height: 147px;
  width: 70px;
  border: 1.5px solid var(--text2);
  border-radius: 7px;
  text-align: right;
  z-index: 1;
}

.made-with-r span {
  font-weight: 500 !important;
  font-size: 7pt;
  font-weight: 120;
  position: absolute;
  bottom: 10px;
  padding-top: 9px;
  padding-right: 18px;
  right: 4px;
  border-top: 1.5px solid var(--text2);
  width: 96%;
  color: var(--text2);
}

.info {
  position: fixed;
  margin-top: 50vh;
  z-index: 1;
}

.fa-info-circle {
  color: var(--text2);
  font-size: 13pt;
  margin-top: 1px;
  margin-right: 7px;
}

.dm-label p {
  margin-right: 3px;
  font-size: 7pt !important;
  animation: none;
  opacity: 1 !important;
}

.impressum {
  width: 200px;
  margin-top: 15px;
  cursor: default;
  height: auto;
  font-size: 10pt;
  font-weight: normal;
  color: var(--bg);
  background: var(--accent2);
  border-radius: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 30px;
  padding-left: 30px;
  position: fixed;
  right: -250px;
  /*60 px to show */
  text-align: center;
  z-index: -1;
  transition: 0.3s;
}

.impressum:before, .made-with-r-link:before, .accessibility:before {
  left: 98%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  transition: 0.3s;
}

.impressum:before, .made-with-r-link:before, .accessibility:before {
  border-color: rgba(40, 40, 40, 0);
  border-left-color: var(--accent2);
  border-width: 11px;
  margin-top: -11px;
  transition: 0.3s;
}

.made-with-r-link {
  width: 200px;
  margin-top: 60px;
  cursor: default;
  height: auto;
  font-size: 10pt;
  font-weight: normal;
  color: var(--bg);
  background: var(--accent2);
  border-radius: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 30px;
  padding-left: 30px;
  position: fixed;
  right: -250px;
  /*60 px to show */
  text-align: center;
  z-index: -1;
  transition: 0.3s;
}

.accessibility {
  width: 200px;
  margin-top: -35px;
  cursor: default;
  height: auto;
  font-size: 10pt;
  font-weight: normal;
  color: var(--bg);
  background: var(--accent2);
  border-radius: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 30px;
  padding-left: 30px;
  position: fixed;
  right: -250px;
  /*60 px to show */
  text-align: center;
  z-index: -1;
  transition: 0.3s;
}

.impressum a {
  color: var(--text) !important;
  height: 100px;
}

.impressum a:hover {
  text-decoration-style: wavy;
  text-decoration-color: var(--accent2);
  text-underline-position: under;
}

/* responsive elements ------------------------------------------------------ */
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar-toggle {
    margin-right: 0px !important;
  }

  .container {
    width: auto !important;
  }
}

@media only screen and (min-width: 1200px) {
  div.main-container {
    width: 100% !important;
    max-width: 1300px !important;
  }

  .container {
    width: 100% !important;
    max-width: 1300px !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }

  .navbar-inverse {
    font-size: 15pt;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .start-page-body {
    padding-left: 100px !important;
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    margin-top: -20px;
  }

  p, .section li, .section ul, .references, .citation {
    font-size: 13pt !important;
  }

  code {
    font-size: 11pt !important;
  }

  .first {
    padding-top: 95px !important;
    font-size: 59px !important;
  }

  .start-page-body, .start-page-body2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #TOC, .content {
    display: none !important;
  }

  .fd {
    position: relative;
    max-height: 35vh !important;
    max-width: 100% !important;
    background-size: cover !important;
    background-position-y: 20% !important;
    margin-top: 20px !important;
  }

  .navbar-brand {
    font-size: 25pt !important;
  }

  .navbar {
    border: none !important;
  }

  h1 {
    white-space: normal !important;
    margin-bottom: 20px !important;
    animation: fadeIn 1s 0.5s normal both !important;
  }

  .start-page-body h1 {
    animation: fadeIn 1s 0.8s normal both !important;
  }

  h2, h3, h4 {
    white-space: normal !important;
    animation: fadeIn 1s 1s normal both !important;
  }
}

@media only screen and (max-width: 1200px) {
  .main-container {
    width: 100% !important;
    max-width: 1550px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  h1, .footnotes ol:before {
    font-size: 25pt !important;
  }

  h2 {
    font-size: 20pt !important;
  }

  h3 {}

  .navbar-nav {
    margin-top: 0px !important;
  }

  .navbar-header {
    float: none;
    transition: none !important;
    height: 45px !important;
    overflow: hidden;
  }

  .navbar-left, .navbar-right {
    float: none !important;
    margin-top: 20px !important;
  }

  .navbar-toggle {
    margin-top: 10px !important;
    display: block;
  }

  .navbar-toggle::after {
    content: "Menu";
    font-size: 7pt;
    font-weight: 120;
    text-transform: uppercase;
    color: var(--text2);
  }

  .navbar-collapse {
    border: none !important;
    max-height: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: absolute;
    left: 100%;
    display: block;
    transition: all 0.3s cubic-bezier(.19, .97, .42, .98);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    font-size: 20pt !important;
    float: none !important;
    margin-top: 20px !important;
    text-align: center !important;
  }

  .navbar-nav a {
    font-size: 20pt !important;
    text-transform: uppercase !important;
  }

  .navbar-nav>li {
    float: none;
    padding-bottom: 25px;
  }

  .collapse.in {
    display: block !important;
    height: 100vh !important;
    width: 100vw !important;
    left: 15px;
    background: var(--bg);
  }

  .navbar li.dropdown-header {
    display: none !important;
  }
}
